.event {
  width: 100%;
}

.event:last-child {
  margin: 2rem auto;
}

.button * {
  color: var(--brightGreen);
}

.button {
  margin-top: 1rem;
  width: 10rem;
}

.image {
  margin: 1rem auto;
  background-color: var(--oliveGreen);
}
